* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url("https://i.ibb.co/pbVc7Rz/Ani-Map-Radio-Bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
  transition: ease all 0.5s;
}

.RegisterButton {
  margin-top: 310px;
  box-shadow: 0px 10px 14px -7px #1a1003;
  background: linear-gradient(to bottom, #e4d4d4 5%, #9c6f14 100%);
  background-color: #a33401;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #0e2241;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc7f21;
}

.RegisterButton:hover {
  background: linear-gradient(to bottom, #9c6f14 5%, #d5e03a 100%);
  background-color: #9c6f14;
  color: white;
}

.RegisterButton:active {
  position: relative;
  top: 1px;
}
